/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1,
h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

header {
    background-color: #2980b9;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3498db;
}

/* Footer Styles */
footer {
    background-color: #2980b9;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

#currentYear {
    font-weight: bold;
}

/* Mobile-First Responsive Design */
@media (min-width: 768px) {
    nav ul li {
        margin-right: 30px;
    }

    section {
        max-width: 600px;
    }

    header h1 {
        font-size: 3em;
    }
}